<h1><%= @list.name %></h1>


<%= link_to "back to list", lists_path, class: "btn btn-primary" %>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/cinema-picture-id639579636)">
      <%= bookmark.comment %> | <%= bookmark.movie.title %>
      <%= link_to "delete bookmark", bookmark_path(Bookmark.find_by(list: @list)), method: :delete, data: { confirm: "Are you sure?"},  class: "btn btn-danger"%>
    </div>
  <% end %>
</div>

<%= link_to "create movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>

<%= link_to "delete list", list_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-warning" %>
